.ai-layer-gl{
    --polygon-stroke-color      : #00ffff;
    --polygon-stroke-size       : 2;
    --polygon-fill-type         : 'stripes'; /* stripes, grid */ 
    --polygon-fill-color-a      : #00ff00;
    --polygon-fill-line-spacing : 5;
    --polygon-fill-line-size    : 1.5;
    --polygon-fill-angle        : 22; /* Rotation in Degrees */

    --vertices-color            : #ff0000;
    --vertices-radius           : 5;
    --vertices-stroke-color     : #00ffff;
    --vertices-stroke-size      : 4;

    --point-color-in            : #00ffff;
    --point-color-out           : #000000;
    --point-radius-in           : 5;
    --point-radius-out          : 8;
    --point-stroke-color        : #ffffff;
    --point-stroke-size         : 2;

    --line-color                : #00ffff;
    --line-size                 : 4;
}

.layer-container{
    position    : absolute;
    top         : 0px;
    left        : 0px;
}