.ai-layer-gl{
    --polygon-stroke-color      : #00ffff;
    --polygon-stroke-size       : 2;
    --polygon-fill-type         : 'stripes'; /* stripes, grid */ 
    --polygon-fill-color-a      : #00ff00;
    --polygon-fill-line-spacing : 5;
    --polygon-fill-line-size    : 1.5;
    --polygon-fill-angle        : 22; /* Rotation in Degrees */

    --point-color               : #ff0000;
    --point-radius              : 5;
    --point-stroke-color        : #00ffff;
    --point-stroke-size         : 4;

    --line-color                : #00ffff;
    --line-size                 : 4;
}

.layer-container{
    position    : absolute;
    top         : 0px;
    left        : 0px;
}